nav.menu
    ul.menu__block
        li.menu__cell
            a.menu__link(href="#") Главная
        li.menu__cell
            a.menu__link(href="#") О нас
        li.menu__cell
            a.menu__link(href="#") Услуги
        li.menu__cell
            a.menu__link(href="#") Блог
        li.menu__cell
            a.menu__link(href="#") Контакты