section.our-work
    h3.our-work__heading Мы делаем много
    h5.our-work__sub-heading 
        | Строительство
        | Энергетика
        | Логистика
        | Металлообработка
        br
        | Во всем мире
    a.our-work__button-more(href="#") Подробнее
    