section.reasons
    .reasons__reason
        h3.reason__heading.reason__heading_differences-one Экономьте свои деньги
        p.reason__discription.reason__discription_differences-one
            | Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            | Ad, illo, amet, molestiae delectus neque aut nobis explicabo
            | tempore eius esse quaerat doloribus sint? Harum nostrum
            | tempora quis sint natus consectetur.
    .reasons__reason
        h3.reason__heading.reason__heading_differences-two Гарантии качества
        p.reason__discription.reason__discription_differences-two
            | Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            | Ad, illo, amet, molestiae delectus neque aut nobis explicabo
            | tempore eius esse quaerat doloribus sint? Harum nostrum
            | tempora quis sint natus consectetur.
section.news
    .news-events
        img.news-events__globus(src="images/news/world.png" alt="Глобус")
        h4.news-events__heading 
            | Новости
            br
            | &amp; События
            br
        a.news-events__archive-link(href="#") Смотреть Архив
    .news-latest
        .news-figure
            .news-figure__day 21
            .news-figure__mounth Января
        h5.news-latest__heading Fugit, sint, nemo perspiciatis
        p.news-latest__discription 
            | Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            | Fugit, sint, nemo perspiciatis consequuntur eaque dolor
            | nemo perspiciatis consequuntur.
        a.news-latest__button-more(href="#") Подробнее
    .news-latest
        .news-figure
            .news-figure__day 22
            .news-figure__mounth Января
        h5.news-latest__heading Lorem ipsum dolor sit amet
        p.news-latest__discription 
            | Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            | Fugit, sint, nemo perspiciatis consequuntur eaque dolor
            | nemo perspiciatis consequuntur.
        a.news-latest__button-more(href="#") Подробнее