section.services-block
    h3.services-block__heading Мы предоставляем
    h5.services-block__sub-heading Инновационные и рентабельные промышленные решения
    .services-block__service
        img.services-block__icon(src="images/services-block/truck.png" alt="Грузовичок")
        p.services-block__discription Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam, porro ratione.
    .services-block__service
        img.services-block__icon(src="images/services-block/worker.png" alt="Смайлик в каске, бригадир наверное")
        p.services-block__discription Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam, porro ratione.
    .services-block__service
        img.services-block__icon(src="images/services-block/attention.png" alt="Знак Внимание!")
        p.services-block__discription Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam, porro ratione.

section.read-about-the-services
    .read-about-the-services__association
        h3.read-about-the-services__heading 100% Качество
            h5.read-about-the-services__sub-heading 
                | Безупречный опыт
                br
                | &amp; Профессионализм
            a.read-about-the-services__button-more(href="#") Подробнее
