section.welcome-block
    h3.welcome-block__heading Добро пожаловать!
    h5.welcome-block__sub-heading Мы предоставляем качественные, 
        | услуги в сфере строительства
    .figures
        .figures__figure
            img.figures__figure-icon(src="images/welcome-block/saw.png" alt="Пила")
            p.figures__figure-signature Инновации
        .figures__figure
            img.figures__figure-icon(src="images/welcome-block/loader.png" alt="Погрузчик")
            p.figures__figure-signature Эффективность
        .figures__figure
            img.figures__figure-icon(src="images/welcome-block/repair.png" alt="Молоток и ключ")
            p.figures__figure-signature Исследования
        .figures__figure.figures__figure_align
            img.figures__figure-icon(src="images/welcome-block/cogwheel.png" alt="Шестеренка")
            p.figures__figure-signature Решения
        .figures__figure.figures__figure_align
            img.figures__figure-icon(src="images/welcome-block/crane.png" alt="Кран")
            p.figures__figure-signature Разработка
    p.welcome-block__discription Lorem ipsum dolor sit amet, consectetur adipisicing elit.
          | Nostrum, necessitatibus, doloremque, fugiat, harum minus labore modi animi eaque eligendi tempore amet
          | ipsum nihil natus sequi dolorem explicabo at laborum esse.
    p
        a.welcome-block__button-more(href="#") Подробнее