.reasons
    background-color #252728
    color #fff
    height 520px
    max-width 100%
    padding 80px 0
.reasons__reason
    max-width 768px
    margin auto
    height 240px
    margin-bottom 40px
    display flex
    flex-direction row
.reasons__reason_reverse
    flex-direction row-reverse
.reason__heading
    width 65%
    height 240px
    line-height 240px
    font-size 1.75em
    text-align center
    text-transform uppercase
.reason__discription
    width 270px
    height 240px
    background-repeat no-repeat
    font-size 10px
    box-sizing border-box
    padding 100px 40px 40px 40px
.reason__heading_differences-one
    background url('../images/reasons/reason1-min.png') no-repeat #999
.reason__heading_differences-two
    background url('../images/reasons/reason2-min.png') no-repeat #999
    background-size 100% 100%
.reason__discription_differences-one
    text-align right
    background-color #5499bb
    background-image url('../images/reasons/mini-truck.png')
    background-position 80% 15%
.reason__discription_differences-two
    text-align left
    background-color #9e5d83
    background-image url('../images/reasons/earth.png')
    background-position 20% 15%
    background-size 25% 25%