.welcome-block
    text-align center 
    padding 50px 0 
    background-color #f8bc27
    text-transform uppercase
.welcome-block__heading
    color #fff 
    font-size 2.5em 
    margin-bottom 30px
.welcome-block__sub-heading
    margin-bottom 35px 
    font-size 1.25em
.figures
    max-width 768px 
    margin auto 
    margin-bottom 40px
    display flex  
    flex-wrap wrap 
    justify-content center
.figures__figure
    width 200px 
    height 230px 
    background url(../images/welcome-block/hexagon.png) no-repeat
    background-position: 50% 50%
    margin 20px 
    position relative
.figures__figure_align
    margin-top -45px
.figures__figure-icon
    width 70px 
    height 70px 
    position absolute
    top -15% 
    left 0 
    right 0  
    bottom 0 
    margin auto
.figures__figure-signature
    position absolute 
    color #767676
    bottom 25% 
    left 0 
    right 0 
    margin auto 
    font-size 1em
.welcome-block__discription
    max-width 768px 
    margin auto 
    text-align center 
    margin-bottom 60px
    font-size 1em
    font-family Cambria, Cochin, Georgia, Times, Times New Roman, serif
.welcome-block__button-more
    padding 15px 40px 
    background #1e1e1e 
    text-decoration none 
    color #fff
    border-radius 5px 
    transition all .3s ease
    font-size 14px 
.welcome-block__button-more:hover
    background #fff 
    color #000